@import url("https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Kumar+One+Outline&family=Nabla&display=swap");

* {
  box-sizing: border-box;
}

/* Layout */
body {
  background-color: #483d8b;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
}

header {
  width: auto;
  height: auto;
  padding: 5px;
  margin: 0px;
  font-style: normal;
  font-size: 20px;
  background-image: none;
  background-color: #c3c3c3;
  border: outset;
  border-color: #ffffff;
  color: black;
  max-height: auto;
  text-align: center;
}

/* Navbar */
nav {
  overflow: hidden;
  background-color: #808080;
  color: white;
  padding: 10px;
  margin: 0;
  text-align: center;
}

/* Divs */
div {
  padding-top: 0px;
  color: white;
  padding: 0px;
  margin: 0px;
  width: 100%;
  float: left;
}

div::after {
  content: "";
  display: table;
  clear: both;
}

/* Section - no width by default */
section {
  height: 447px;
  float: left;
  width: calc(100% / 3);
}

/* Section - one half */
.halfsection {
  float: left;
  width: calc(100% / 2);
}

.footersection {
  float: left;
  width: 100%;
  height: auto;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

article {
  width: auto;
  height: auto;
  padding: 5px;
  margin: 0px;
  font-style: normal;
  font-size: 19px;
  background-image: none;
  background-color: #c3c3c3;
  border: outset;
  border-color: #ffffff;
  color: black;
  max-height: auto;
}

footer {
  width: 100%;
  height: auto;
  padding: 5px;
  margin: 0px;
  font-style: normal;
  background-image: none;
  background-color: #c3c3c3;
  border: outset;
  border-color: #ffffff;
  color: black;
  max-height: auto;
}

/* Links */
a {
  color: #e1c165;
  text-decoration: none;
}
.blue {
  color: blue;
  text-decoration: underline;
}

.navbar {
  background-color: #c3c3c3;
  border: 1px outset;
  font-size: 25px;
  font-family: "Monaco", monospace;
  color: black;
  margin: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 3px;
  width: 47%;
  height: auto;
  text-align: left;
  border-color: #ffffff;
  border-radius: 0px;
}

.navbar:hover {
  border: 1px inset;
  background-color: #808080;
}

/* Headings */

h1 {
  font-family: "Courier New", monospace;
  font-size: auto;
  color: limegreen;
  background-color: black;
  padding: 10px;
  margin: 15px;
  border: 3px inset black;
  max-width: auto;
  max-height: 377px;
  overflow: auto;
}

h3 {
  font-family: "Courier New", monospace;
  font-size: 20px;
  font-style: normal;
  color: white;
  background-color: #000082;
  padding: 1px;
  padding-left: 10px;
  margin: 1px;
  overflow: auto;
  text-align: left;
}

/* Text styles */

.green {
  font-family: "Courier New", monospace;
  font-size: 20px;
  color: limegreen;
  background-color: black;
  padding: 10px;
  margin: 15px;
  border: 3px inset black;
  max-width: auto;
  max-height: 377px;
  overflow: auto;
}

.featurearticle {
  background-color: orange;
  border: outset;
  border-color: orange;
  color: black;
  min-height: 280;
}

.foot {
  background-color: transparent;
  padding: 20px;
  margin: 0px;
  margin-top: 100px;
  position: absolute;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: help;
}

@media (max-width: 1000px) {
  #container {
    display: flex;
    flex-direction: column;
  }

  #element2 {
    order: -1;
  }

  section {
    min-width: 100%;
  }
}
